ul.tags {
  overflow: hidden;
  li {
    float: left;
    background: $blue;
    padding: 3px 8px;
    border-radius: 6px;
    text-transform: uppercase;
    font-weight: normal;
    font-size: .8rem;
    margin-right: $small-spacing/2;
    a {
      color: #efefef;
    }
  }
}

h3.date {
  font-weight: 100;
  font-style: italic;
  font-size: .9rem;

  a {
    color: $blue;
    background: $neutral;
    border-radius: 15px;
    padding: 0 8px 3px;
    line-height: 1;
  }
}

article.single-post {
  margin-bottom: $base-spacing;
  border-bottom: 1px dashed darken($neutral, 15%);
  padding-bottom: $base-spacing;
}
