@import "../neat/neat-helpers";

// Bourbon Neat Breakpoints
$mobile : new-breakpoint(min-width 0px max-width 760px 4);
$tablet : new-breakpoint(min-width 760px max-width 1024px 8);
$desktop: new-breakpoint(min-width 1024px 12);
$largedesktop: new-breakpoint(min-width 1152px 12);

// Visual Grid
// $visual-grid: true;
// $visual-grid-color: blue;
// $visual-grid-index: front;
// $visual-grid-opacity: 0.1;
