.icon {
	&.centered {
		color: #fff;
		text-align: center;
		font-size: 3rem;
		color: $yellow;
	}
}

.icon-xl {
	@include span-columns(4);
	@include omega(3n);
	margin-bottom: $base-spacing;
	text-align: center;

	img {
		display: block;
		margin: 0 auto $small-spacing auto;
	}

	p {
		font-size: .9rem;
	}
}
