body {
	//background: url('/assets/chairs.jpg') top center no-repeat fixed;
	background: url('/assets/dayroom.jpg') center center no-repeat fixed;
	background-size: cover;
	margin: 0;

	&#internal {
		background: url('/assets/treeline-002.png') center -200px no-repeat fixed;
		background-size: cover;
	}

	&#blogging {
		background: url('/assets/blogging.jpg') center -200px no-repeat fixed;
		background-size: cover;
	}

	&#donors {
		//background: url('/assets/volunteers.jpg') center -100px no-repeat fixed;
		background: $primary;
	}
}

header, article, footer {
}

article {
	&.main {
		background: #fff;
		overflow: hidden;
		.row {
			padding: $base-spacing 0;
		}
		.row-narrow {
			padding: $base-spacing 0;
			@include span-columns(8);
			@include shift(2);
		}
	}
}

.event {
	h3 {
		margin: 0;
	}
	p {
		font-size: 1rem;
		margin: $small-spacing 0 0;
		line-height: 1.5;
	}
	em {
		font-style: italic;
		color: $mint;
	}
	.icon {
		color: $mint;
		font-size: 2rem;
		float: right;
		margin: 0 0 0 $small-spacing;
	}
	margin: $small-spacing 0;
}

#desktop-nav {
	border-bottom: 1px solid transparentize(#fff, 0.7);
}
header {
	&#logo {
		background: url('/assets/logo.png') center center no-repeat;
		height: 100px;
		width: 240px;
		@include span-columns(3);
	}
	&#nav {
		@include span-columns(8);
		@include shift(1);
	}
	ul {
		padding-top: $base-spacing;
		li {
			float: left;
			margin-right: $base-spacing;
			position: relative;
			padding: $small-spacing 0;
			font-size: .9rem;
			color: #efefef;
			a {
				color: #efefef;
				&:hover {
					color: #efefef;
				}
			}
			ul {
				display: none;
			}
			&:hover {
				ul {
					display: block;
					position: absolute;
					left: -10px;
					top: $small-spacing;
					overflow: hidden;
					min-width: 480px;
					li {
						padding: 10px;
						display: block !important;
						margin: 0;
						font-size: 90%;
						&:hover {
							a {
								color: #fff;
							}
						}
					}
				}
			}
		}
	}
	&.full-width {
		padding: $small-spacing $base-spacing;
	}
}

.has-subnav {
		&:after {
			font-family: FontAwesome;
			content: "\f078";
			margin-left: $small-spacing;
			font-size: .7rem;
			color: transparentize(#fff, 0.6);
		}
}

aside {
	&.talker {
		@include span-columns(7);
		padding: 10% 0;
		h1 {
			color: $neutral;
			font-size: 2.4rem;
		}
	}
}

// Sections ---------------------------------------------------
//

section {

	// Primary hero unit
	//
	&#hero-unit.lander {
		@include media($desktop, $largedesktop) {
			min-height: 800px !important;
		}
	}
	&#hero-unit {
		background-size: cover;
		position: relative;

		@include media($tablet) {
			min-height: 600px !important;
		}

		@include media($mobile) {
			min-height: 500px !important;
			h1 {
				font-size: 2rem;
			}
		}

		.actions {
			@include outer-container(70%);

			.button {
				@include span-columns(6);

				@include media($mobile) {
					@include span-columns(4);
					margin-bottom: $small-spacing
				}

				text-align: center;
				@include transition(all 0.20s ease-in-out);

				&:hover {
					background: transparentize(#fff, 0.6);
				}
			}
		}

		.more {
			width: 100px;
			position: absolute;
			text-align: center;
			color: transparentize(#fff, 0.6);
			bottom: $base-spacing*4;
			left: 46%;

			@include media($desktop, $largedesktop) {
				display: block;
			}

			@include media($tablet) {
				display: none !important;
			}

			@include media($mobile) {
				display: none !important;
			}
		}

		&.internal {
			min-height: 160px;
			margin: 0;

			h1 {
				margin-top: 0;
			}

			h2 {
				margin: 4% 0 0 0;
				color: $yellow;
				text-transform: uppercase;
				letter-spacing: 0.15rem;
			}
		}

		h1 {
			margin-top: 10%;
		}
	}

	// Core content unit
	//
	&#core {
		margin-top: -$base-spacing*1.4;
		background: $neutral;

		.row {
			background: $neutral;
			padding-bottom: $base-spacing;
			&.bg-clear {
				background: none;
				h4 {
					font-size: 2rem;
					line-height: 1.45;
				}
			}
		}
	}

	// Donation roadblock
	&.roadblock {
		background: $neutral;
		padding: $small-spacing;
		margin-bottom: $base-spacing;
		text-align: center;

		@include media($desktop, $largedesktop) {
			@include outer-container(40%);
		}

		@include media($mobile) {
			@include outer-container(90%);
		}
		@include media($tablet) {
			@include outer-container(90%);
		}


		p {
			font-size: 1rem;
		}



		h3, h4 {
			display: inline-block;
			line-height: 2.2;
			margin: 0;
		}
	}

	//
	&.explore {
		padding: $base-spacing;
		background: $primary;
		margin-bottom: $base-spacing;

		.row {
			margin-bottom: $base-spacing;
		}

		.third {
			padding: 0 $base-spacing;
			position: relative;
			min-height: $base-spacing*10;
			margin-top: $base-spacing;
			margin-bottom: $base-spacing/2;

			a {
				color: #fff;
			}

			h2 {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				padding: $small-spacing;
				color: $neutral;
			}
			&#volunteers {
				background: url('/assets/staff.jpg') center center no-repeat;
				background-size: cover;
				h2 {
					background: $highlight;
				}
			}
			&#donors {
				background: url('/assets/group1.jpg') center center no-repeat;
				background-size: cover;
				h2 {
					background: $purple;
				}
			}
			&#guests {
				background: url('/assets/dayroom.jpg') center center no-repeat;
				background-size: cover;
				h2 {
					background: $mud;
				}
			}
		}
	}
}

// Cards ---------------------------------------------------
//

.cards {
	@include outer-container;
	@include clearfix;

	.card {
		border: 3px solid $neutral;
		margin-bottom: $base-spacing;

		@include media($mobile) {
			@include span-columns(4);
		}
		@include media($tablet) {
			@include span-columns(4);
			@include omega(2n);
		}
		@include media($desktop) {
			@include span-columns(4);
			@include omega(3n);
		}

		.caption {
			background: $neutral;
			padding: $small-spacing;
		}

		h3, p {
			margin: 0;
		}

		h3 {
			font-size: 1rem;
			line-height: 1.4;
		}

		p {
			font-size: 0.8rem;
			line-height: 1;
		}

		img {
			display: block;
			margin: $base-spacing auto $base-spacing auto;
			max-height: 90px;
		}
	}

	.avatar {

		@include media($mobile) {
			@include span-columns(4);
		}
		@include media($tablet) {
			@include span-columns(4);
			@include omega(2n);
		}
		@include media($desktop) {
			@include span-columns(4);
			@include omega(3n);
		}

		.caption {
			margin-top: $small-spacing;
			h3 {
				margin: 0;
			}
			p {
				color: $medium-gray;
			}
		}
	}
}

// Footer ---------------------------------------------------
//
footer {
	.row {
		padding: $base-spacing*2 0;
	}
	color: $neutral;
	&#sitemap {
		background: #555;
		.third {
			padding: 0;
			p {
				font-size: 90%;
			}
		}
	}
	&#copyright {
		background: #444;
		text-align: center;
	}
	a {
		color: $yellow;
	}
}

// Emergency banner ---------------------------------------------------
//

#blocker {
	background: darken($blue, 30%);
	width: 100%;
	color: $fuschia;
	line-height: 3;
	padding: 0 $base-spacing;
	text-align: center;
	a {
		color: $fuschia;
		border-bottom: 1px solid $fuschia;
	}
}
