// Responsive styles and strategies
//

// Containers
//

.third {
	@include media($mobile) {
		@include span-columns(4);
	}
	@include media($tablet) {
		@include span-columns(8);
	}
}


// Navigation
//

.menu-control {
	position: absolute;
	top: $small-spacing;
	left: $small-spacing;
	font-size: 1.5rem;
	color: #fff;
	z-index: 70;
}

#hamburger {
	@include media($mobile) {
		position: absolute;
		top: $small-spacing;
		left: $small-spacing;
		font-size: 1.5rem;
		color: #fff;
	}
	@include media($tablet) {
		display: none;
	}
	@include media($desktop) {
		display: none;
	}
	@include media($largedesktop) {
		display: none;
	}
}

#desktop-nav {
	@include media($mobile) {
		display: none;
	}
	@include media($tablet) {
		display: block;
	}
}

#mobile-nav {
	@include media($mobile) {
		display: none;
		height: 100%;
		width: 100%;
		background: $highlight;
		margin: 0;
		top: 0;
		position: absolute;
		z-index: 99;

		h4 {
			color: transparentize(#fff, 0.5);
		}

		#links {
			margin: $base-spacing*2 $base-spacing*4 $base-spacing*4;
			li {
				font-size: 1.4rem;
				a {
					color: #fff;
				}
			}
		}

		#icon {
			color: #fff;
			margin: $small-spacing;
			font-size: 1.5rem;
		}
	}
	@include media($tablet) {
		display: none;
	}
	@include media($desktop) {
		display: none;
	}
	@include media($largedesktop) {
		display: none;
	}
}
