<%= content_for :title do %>
  Guests
<% end %>
<%= content_for :synopsis do %>
  A place to be.
<% end %>


<h3>Showers:</h3>
<p>The IRC offers daily showers for men, women, and non-gender conforming individuals.  Hygiene products available. Please see daily schedule.</p>

<h3>Laundry:</h3>
<p>The IRC offers daily laundry services. Please see daily schedule.</p>

<h3>Haircuts:</h3>
<p>The IRC offers haircuts and grooming services by liscensed barbers. Please see daily schedule.</p>

<h3>Mail:</h3>
<p>The IRC provides a location for guests to recieve mail. Please speak with the front desk for details. Please see daily schedule for mail call times.</p>

<h3>Case Management and Counseling:</h3>
<p>The IRC provides confidential case management, referral services, shelter referrals, and counseling. See daily schedule.</p>

<h3>Phones:</h3>
<p>The IRC provides a phone bank and unique phone numbers for IRC guests during open hours.</p>

<h3>ID/Document Recovery:</h3>
<p>The IRC provides assistance replacing lost ID's, transcripts, birth certificates and other documentation.
Medical Help: Basic nurse services, mental health and addiction support are offered at the IRC. See daily schedule.</p>

<h3>Enrichment:</h3>
<p>The IRC offers educational opportunities, arts opportunities and opportunities for guests to engage in community. Please see Projects and Daily Schedule for details.</p>

<h3>Jobs and Education Program:</h3>
<p>The IRC provides resume assistance, job skills classes, employment search and application assistance. Career development classes are offered onsite by GTCC. Please see daily schedule for more.</p>
